[Unit]
Description=Door controller

[Service]
WorkingDirectory=/root/door-controller/
EnvironmentFile=/etc/default/node
ExecStart=/usr/bin/node beagleReader.js
Restart=always
RestartSec=30
SyslogIdentifier=beagleReader

[Install]
WantedBy=multi-user.target
